<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Local">
      <package pattern="AlphaFS" />
      <package pattern="Globfish" />
      <package pattern="Octopus.CoreUtilities" />
      <package pattern="Octopus.Dependencies.*" />
      <package pattern="Octopus.Server.Extensibility" />
    </packageSource>
    <packageSource key="NuGet.org v3">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
